<style type="text/css">
<!--

A:link	    	{ FONT-SIZE: 35px; COLOR: #3D61B6; TEXT-DECORATION: none }
A:visited   	{ FONT-SIZE: 35px; COLOR: #3D61B6; TEXT-DECORATION: none }
A:hover	    	{ FONT-SIZE: 35px; COLOR: #FFFFFF; BACKGROUND-COLOR: #C1A2F7; TEXT-DECORATION: none }

A.Chaps:link	{ FONT-SIZE: 34px; COLOR: #3D61B6;TEXT-DECORATION: none }
A.Chaps:visited { FONT-SIZE: 34px; COLOR: #3D61B6;TEXT-DECORATION: none }
A.Chaps:hover	{ FONT-SIZE: 34px; COLOR: #FFFFFF;TEXT-DECORATION: none }

A.Olin:link 	{ FONT-SIZE: 36px; COLOR: #3D61B6; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none }
A.Olin:visited	{ FONT-SIZE: 36px; COLOR: #3D61B6; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none }
A.Olin:hover	{ FONT-SIZE: 36px; COLOR: #FFFFFF; BACKGROUND-COLOR: #C1A2F7; TEXT-DECORATION: none }

A.O:link 	{ FONT-SIZE: 36px; COLOR: #3D61B6; TEXT-DECORATION: none }
A.O:visited	{ FONT-SIZE: 36px; COLOR: #3D61B6; TEXT-DECORATION: none }
A.O:hover	{ FONT-SIZE: 36px; COLOR: #FFFFFF; BACKGROUND-COLOR: #C1A2F7; TEXT-DECORATION: none }

A.CRight:link	{ FONT-SIZE: 34px; COLOR: #800080; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none }
A.CRight:visited{ FONT-SIZE: 34px; COLOR: #800080; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none }
A.CRight:hover	{ FONT-SIZE: 34px; COLOR: #FFFFFF; BACKGROUND-COLOR: #C1A2F7; TEXT-DECORATION: none }

A.BRight:link	{ FONT-SIZE: 34px; COLOR: #808080; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none }
A.BRight:visited{ FONT-SIZE: 34px; COLOR: #808080; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none }
A.BRight:hover	{ FONT-SIZE: 34px; COLOR: #FFFFFF; BACKGROUND-COLOR: #C1A2F7; TEXT-DECORATION: none }

/* 纲目本文的字型color="#808080" */ 
.OutLeStr { font-family: "新宋体"; font-size: 34px; color: #808080} 
SELECT    { FONT-SIZE: 34px; FONT-FAMILY: 宋体; BACKGROUND-COLOR: white }
.title      { FONT-SIZE: 50px; Font-weight:bolder; COLOR:#7B00B5;letter-spacing:2em; }
.title1     { FONT-SIZE: 42px; Font-weight:bolder; COLOR:#990033;letter-spacing:1em; }
-->
</style>